<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<!--<meta http-equiv="refresh" content="20">-->
        <link rel="shortcut icon" type="image/x-icon" href="/static/costmanager/img/favicon.ico">
		<title>成本管理</title>
		<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
		<script src='/static/costmanager/js/ichart.1.2.1.min.js'></script>
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <script src="/static/costmanager/layer/layer.js"></script>
        <script src="/static/costmanager/laydate/laydate.js"></script>
{% block extralink %}
        {% end %}

{% block barcanv %}
        {% end %}

</head>




<body style='background-color:#fcfcfc;'>



<div class="panel panel-primary">
<div class="panel-heading">
<h3 class="panel-title"><span><img src="/static/costmanager/img/logo.png" alt="logo"></span>
    <div class="btn-group pull-right" style="background-color: aliceblue">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="glyphicon glyphicon-user"></span>&nbsp;<span class="hidden-phone" style="font-weight: 200">{{ user_basename }}</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/logout/">Logout</a></li>
                </ul>
           </div>
</h3>



</div>
<div class="panel-body">
	<div id="content" class="row-fluid">
        <div class="col-md-2 well">
     		<ul class="nav nav-pills nav-stacked">
         		<li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;导航</a></li>
                <li><a href="/program/"><span class="glyphicon glyphicon-stats"></span>&nbsp;&nbsp;条形图</a></li>
                <li><a href="/lineprogram/"><span class="glyphicon glyphicon-th"></span>&nbsp;&nbsp;曲线图</a></li>
                <li><a href="#" onclick="table_method()"><span class="glyphicon glyphicon-th"></span>&nbsp; 表格</a></li>
                <li><a href="#" onclick="information_method()"><span class="glyphicon glyphicon-list-alt"></span>&nbsp; 项目信息</a></li>
                <li><a href="/qclouduser/"><span class="glyphicon glyphicon-list-alt"></span>&nbsp; 腾讯云账单</a></li>
                <li><a href="/userchangepassword/"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;修改密码</a></li>
			</ul>
        </div>

        <div class="col-md-10 well" >

                {% block body %}
                {% end %}

        </div>
</div>

</div>
</div>
<script>

$('#haha').click(function() {
    layer.open({
                type: 2,
                skin:'ayui-layer-molv',
                title: '曲线图展示',
                shadeClose: true,
                offset: 'rb',
                shade: false,
                maxmin: true, //开启最大化最小化按钮
                area: ['800px', '600px'],
                content: '/line/',
                shift: 9
            });
});

</script>

<script>

$('#hao').click(function() {
    layer.open({
                type: 2,
                skin:'ayui-layer-molv',
                title: '表格',
                shadeClose: true,
                offset: 'r',
                shade: false,
                maxmin: true, //开启最大化最小化按钮
                area: ['800px', '800px'],
                content: '/table/',
                shift: 9
            });
});

</script>



<script>

$('#xiangmu').click(function() {
    layer.open({
                type: 2,
                skin:'ayui-layer-molv',
                title: '项目信息',
                shadeClose: true,
                offset: 'r',
                shade: false,
                maxmin: true, //开启最大化最小化按钮
                area: ['800px', '800px'],
                content: '/information/',
                shift: 9
            });
});

</script>

<script>
laydate.skin('danlan')
laydate({
    elem: '#hello', //目标元素。由于laydate.js封装了一个轻量级的选择器引擎，因此elem还允许你传入class、tag但必须按照这种方式 '#id .class'
    event: 'focus' //响应事件。如果没有传入event，则按照默认的click

});
</script>
<script>
laydate.skin('danlan')
laydate({
    elem: '#hello1', //目标元素。由于laydate.js封装了一个轻量级的选择器引擎，因此elem还允许你传入class、tag但必须按照这种方式 '#id .class'
    event: 'focus' //响应事件。如果没有传入event，则按照默认的click

});
</script>

<script>
 $("#selectone").change(function(){
      document.getElementById('formid').submit()

 });
</script>
<script>
    function table_method()
    {
          layer.open({
                type: 2,
                skin:'ayui-layer-molv',
                title: '表格',
                shadeClose: true,
                offset: 'r',
                shade: false,
                maxmin: true, //开启最大化最小化按钮
                area: ['800px', '800px'],
                content: '/table/',
                shift: 9
            });

    };
     function information_method()
    {
    layer.open({
                type: 2,
                skin:'ayui-layer-molv',
                title: '项目信息',
                shadeClose: true,
                offset: 'r',
                shade: false,
                maxmin: true, //开启最大化最小化按钮
                area: ['800px', '800px'],
                content: '/information/',
                shift: 9
            });

    };

         function bar_method(url)
    {
          layer.open({
                type: 2,
                skin:'ayui-layer-molv',
                title: '条形图',
                shadeClose: true,
                offset: 'r',
                shade: false,
                maxmin: true, //开启最大化最小化按钮
                area: ['800px', '600px'],
                content: url,
                shift: 9
            });

    };

    function line_method(url)
    {
          layer.open({
                type: 2,
                skin:'ayui-layer-molv',
                title: '曲线图',
                shadeClose: true,
                offset: 'r',
                shade: false,
                maxmin: true, //开启最大化最小化按钮
                area: ['800px', '600px'],
                content: url,
                shift: 9
            });

    };

        function information_method(url)
    {
          layer.open({
                type: 2,
                skin:'ayui-layer-molv',
                title: '项目详情',
                shadeClose: true,
                offset: 'r',
                shade: false,
                maxmin: true, //开启最大化最小化按钮
                area: ['700px', '600px'],
                content: url,
                shift: 9
            });

    };
        function table_method(url)
    {
          layer.open({
                type: 2,
                skin:'ayui-layer-molv',
                title: '表格',
                shadeClose: true,
                offset: 'r',
                shade: false,
                maxmin: true, //开启最大化最小化按钮
                area: ['800px', '800px'],
                content: url,
                shift: 9
            });

    };

</script>

</body>

</html>