{% extends "baseuser.html"  %}

{% block barcanv %}
<script src="/static/costmanager/js/inspinia.js"></script>
<link href="/static/costmanager/css/style.css" rel="stylesheet">
<script src='/static/costmanager/js/ichart.1.2.1.min.js'></script>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<script src="/static/costmanager/laydate/laydate.js"></script>
<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
{% end %}

{% block body %}
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">Program</span>
                    <h5>管理项目数</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"><a href="/userprogramlist/">{{program_count}}</a></h1>
                    <small>All Program</small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right">Cost</span>
                    <h5>本月总费用</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"><a href="/costlist/">month_cost</a></h1>
                    <small>All fee</small>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">last mon</span>
                    <h5>腾讯云上月账单</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"><a href="/qcloudcostlist/"> <span id="online_users">qcloudcost</span></a></h1>

                    <small>All fee</small>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-danger pull-right">last month</span>
                    <h5>上月总费用</h5>
                </div>
                <div class="ibox-content">
                        <h1 class="no-margins"><a href="/costlist/"> <span id="online_hosts">lastmonth_cost</span></a></h1>
                    <small>ALL fee</small>
                </div>
            </div>
        </div>
{%  end %}
