{% extends 'baseuser.html' %}

{% block extralink %}
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
<link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" >
<link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css" >
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
{% end %}



{% block body %} <body style='background-color:#fcfcfc;' class="change-list"  > {% end %}



{% block body %}

</div>
 <div id="content" class="colM">
        <div id="content-main" style="width: 83%;">
<form action="/userchangepassword/{{id}}" method="post" id="user_form"><div style="display:none"><input type="hidden" name="csrfmiddlewaretoken" value="E2Puwuz5Sr9wdFVOlwlv4LNI5jirPfCF"></div>
<div>

<h2>{{alter_string}}</h2>

<p>为用户 <strong>{{username}}</strong> 输入一个新的密码。</p>

<fieldset class="module aligned">

<div class="form-row">


  <label for="id_password1" class="required">密码:</label> <input type="password" name="password1" id="id_password1">
</div>

<div class="form-row">


  <label for="id_password2" class="required">密码(重复):</label> <input type="password" name="password2" id="id_password2">
  <p class="help">为了校验，输入与上面相同的密码。</p>
</div>

</fieldset>

<div class="submit-row">
<input type="submit" value="修改密码" class="default">
</div>

<script type="text/javascript">document.getElementById("id_password1").focus();</script>
</div>
</form></div>


        <br class="clear">
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

{%  end %}